* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: opx;
}

.nav {
    background-color: white;
    color: black;
    list-style: none;
}

.nav.li {
display: inline-block;
}

.logo {
    font-size: 16px;
    font-weight: bold;
}