* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    color: rgb(0, 1, 2);
    position: absolute;
    top: 200px;
    left: auto;
    width: 100%;
    
}

#how-to {
    text-align: center;
    color: rgb(0, 1, 2);
    position: absolute;
    top: 170px;
    left: 130px;
    width: 100%;
}

.pencil {
    max-width: 100%;
    position: absolute;
}