body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: opx;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: teal;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
}

h1 {
    float: left;
}

.nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 25px;
    font-size: larger;
}

nav a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

nav a:hover {
    color: gray;
}

h2 {
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 20px;
    color: white
}

table {
    border: 1px solid black;
    width: 800px;
    margin: auto;
    table-layout: fixed;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px 10px;
    color: white;
}

.color-box {
    background: gray;
    padding-bottom: 20px;
}

th, tr, td {
    border: 1px solid white;
    padding-bottom: 200px;
}

#teal {
    background-color: #008080;
}

#orange {
    background-color: #FF4F1F;
}

